<comcabecera></comcabecera>
<comcesta></comcesta>
<ion-content padding>
	<combuscar></combuscar>

 <div class = "row"  style="margin-left: 5px; text-align: center">
      <div style="background: #333;  width: 100%">
       	   <ion-card style="border-radius: 5px">

       	   <table style="border-color: #999;border-radius: 5px" border="1" width="100%"><tr><td>
	        <table style="background: #eee;" border="0" width="100%">
	          <tr>
	            <td align="left" width="33%">
	             <p class="fontnormal" style="margin-left: 10px"><b>Número: <p style="color: #333">{{this.NumeroPedido}}</p></b></p>
	            </td>
	            <td align="left" width="33%">
	             <p class="fontnormal" style="margin-left: 10px"><b>Fecha: <p style="color: #333">{{this.FechaPedido}}</p></b></p>
	            </td>
	            <td align="left" width="33%">
	             <p class="fontnormal" style="margin-left: 10px"><b>Importe: <p style="color: #333">{{this.ImportePedido}}€</p></b></p>
	            </td>
	          </tr>
	        </table>
	      </td></tr></table>
	    </ion-card>


	     <div  *ngFor="let ite of items; let i=index;first as isFirst">

   			<ion-card *ngIf="i<1" style="border-radius: 5px">
		    
		    <table  style="border-color: #999;border-radius: 5px" border="1" width="100%"><tr><td>
	        <table style="background: #eee;" border="0" width="100%">
	          <tr>
	            <td  align="left" valign="top" width="30%">
			             <p class="fontnormal" style="margin-left: 10px">Dirección:</p>
			    </td>
			    <td  align="left" valign="top" width="67%">
			             <p style="text-align: left; color: #333">{{ite.PED_DIRECCION}}</p>
	                     <p style="text-align: left; color: #333">{{ite.PED_POBLACION}}</p>
	                     <p style="text-align: left; color: #333">{{ite.PED_PROVINCIA}}</p>
	            </td>
	          </tr>


	        </table>
	      </td></tr></table>
		    
		    <table *ngIf="i<1" style="border-color: #999;border-radius: 5px" border="1" width="100%"><tr><td>
	        <table style="background: #eee;" border="0" width="100%">
	          <tr>
	            <td  align="left" valign="top" width="30%">
			             <p class="fontnormal" style="margin-left: 10px">Dirección de<br>Entrega:</p>
			    </td>
			    <td>
			             <p style="text-align: left; color: #333">{{ite.PED_DIRECCION_ENTREGA}}</p>
	            </td>
	          </tr>


	        </table>
	      </td></tr></table>
  
		    <table *ngIf="i<1" style="border-color: #999;border-radius: 5px" border="1" width="100%"><tr><td>
	        <table style="background: #eee;" border="0" width="100%">
	          <tr>
	            <td  align="left" valign="top" width="30%">
			             <p class="fontnormal" style="margin-left: 10px">Método<br>de envío:</p>
			    </td>
			    <td>
			             <p style="text-align: left; color: #333">{{ite.PED_MENSAJERIA}}{{ite.PED_MENSAJERIA_TEXTO}}</p>
	            </td>
	          </tr>
	        </table>
	      </td></tr></table>
		    <table *ngIf="i<1" style="border-color: #999;border-radius: 5px" border="1" width="100%"><tr><td>
		        <table style="background: #eee;" border="0" width="100%">
		          <tr>
		            <td  align="left" valign="top" width="30%">
				             <p class="fontnormal" style="margin-left: 10px">Cupon:</p>
				    </td>
				    <td>
				             <p style="text-align: left; color: #333">{{ite.PED_CUPON}}</p>
		            </td>
		          </tr>


		        </table>
	  			</td></tr></table>
	  		</ion-card>
	      </div>
<ion-card style="border-radius:5px" *ngFor="let i of items">

	<div style="background-color: #eee; max-height: 60px" class="principal">
	      	<table class="tableta" >
	          <tr>
	            <td rowspan="2" class="imagen_cesta">
   	              <img style="max-width: 20px;min-width: 20px;max-height: 20px;min-height: 20px;" item-left src='{{i.PED_IMAGEN}}'>
	            </td>
	            <td>
	            	<div style="padding: 10px">
			        		<table style="width:100%" width="100%" >
			        			<tr>
			        				<td style="width:100%" width="100%">
			        					<p style="font-size: 10px"><b>Ref:</b></p>
												<p style="color: #ff3300; font-size: 12px;margin-top: -5px">{{i.PED_CODIGO_ARTICULO}}</p>
											</td>
			        				<td valign="top">
				        			</td>
			        			</tr>
			        		</table>
			        </div>
	             </td>
	             <td style="width:80%" width="100%" colspan="2">
			        		<table border=0 style="width:100%" width="100%">
			        			<tr>
			        				<td style="width:100%" width="100%" align="left">
			        					<p style="font-size: 10px"><b>{{mostrar_des(i.PED_DESNORMAL)}}</b></p>
											</td>
			        				<td valign="top">
				        			</td>
			        			</tr>
			        		</table>
	             </td>
	             <td   align="right">
						<div style="padding: 10px">
		
							  <p style="font-size: 10px">Uni:<p> 
							  <p style="font-size: 12px;margin-top: -3px"><b>{{i.PED_UNI}}</b></p>

			        	</div>

					</td>
					<td   align="right">
						<div style="padding: 10px">
		
							  <p style="font-size: 10px">Pvp:<p> 
							  <p style="font-size: 12px;margin-top: -3px"><b>{{i.PED_PVP}}</b></p>

			        	</div>

					</td>
					<td   align="right">
		            	<button ion-button id="icono" class="tamicono" (click)="cesta(i.PED_CODIGO_ARTICULO)">
        				<table><tr><td><ion-icon ios="ios-cart" md="md-cart"></ion-icon></td></tr>
        				</table>
        				</button>

				    </td>
		      </tr>
		    </table>
       </div>

      </ion-card>

        <ion-card style="border-radius: 5px" *ngFor="let ite of items; let i=index">
		    
		    <table *ngIf="i<1" style="border-color: #999;border-radius: 5px" border="1" width="100%"><tr><td>
	        <table style="background: #333;" border="0" width="100%">
	          <tr>
	            <td  align="left" valign="top" width="30%">
			             <p class="fontnormal" style="margin-left: 10px">estado:</p>
			    </td>
			    <td  align="left" valign="top" width="67%">
			             <p style="text-align: left; color: #eee">{{ite.PED_ESTADO}}</p>
	            </td>
	          </tr>


	        </table>
	      </td></tr></table>

	  </ion-card>


	      </div>
	  </div>
	</ion-content>

<compie></compie>
