page-subfamilia {



.card{
	valign:top;
	padding-left:0px;
	padding-top:0px;
	padding-right:5px;
	padding-bottom:0px;
	margin-top:3px;
	margin-bottom:0px;
	margin-left:1px;
	margin-right:0px;
    width: 100%;
    height: 30px !important;
}

.este {
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	margin-top:-7px;
	margin-bottom:0px;
	margin-left:1px;
	margin-right:0px;
    height: 10px !important;
}


.topnegativo {
    top: 5px;
}


.sinmargenimg {
    top: -2px;
}


}

