page-datoscliente {
	
	


	.fontmuygrande{
		font-size:1.25em;
		color:#fff;
		background-color:#000000;
		-webkit-border-radius: 3px 12px;  /* Safari  */
		-moz-border-radius: 3px 12px;     /* Firefox */
	}

	.fontmenu{
		font-size:1.25em;
		color:#fff;
		background-color:#cccccc;
		-webkit-border-radius: 3px 12px;  /* Safari  */
		-moz-border-radius: 3px 12px;     /* Firefox */
	}

	.fontnormalblanca{
	  	padding:0;
		margin-top:0px;
		margin-bottom:0;
		color:#fff;
		font-size:0.85em;
		background-color:#000000;
	}

	.slick-slide {
	    opacity: 0.6;
	}

	.slick-current {
	    opacity: 1 !important;
	}
	
	.slick-dots li button:before  {
	    font-size: 10px !important;
	}

}