page-datos {

.scroll-content{

		padding-left:0;
		padding-top:0;
		padding-right:0;
		padding-bottom:0;
		margin-top:98px;
		margin-bottom:47px;
		margin-left:0px;
		margin-right:2px;
		background-color:#333;

	}	


.card{
	valign:top;
	padding-left:5px;
	padding-top:0px;
	padding-right:5px;
	padding-bottom:0px;
	margin-top:3px;
	margin-bottom:0px;
	margin-left:1px;
	margin-right:0px;
    width: 100%;
    height: 30px !important;
}

.este {
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:8px;
	margin-right:0px;
    height: 12px !important;
}

.sinmargenimg {
    top: 2px;
}

.topnegativo {
    top: 5px;
}

.fontnormalblanca{
  	padding:0;
	margin-top:0px;
	margin-bottom:0;
	color:#fff;
	font-size:0.85em;
	background-color:#000000;
}


}

