page-filtro {

	.scroll-content{

		padding-left:0;
		padding-top:0;
		padding-right:0;
		padding-bottom:0;
		margin-top:98px;
		margin-bottom:43px;
		margin-left:0px;
		margin-right:2px;
		background-color:#333;

	}	

	.buscar{
		font-size:1.25em;
		color:#000;
		color:#000 ;
		background-color: #fe6532;
		width: 90%; min-height:40px;
		margin-left: 5%;
		-webkit-border-radius: 3px 12px;  /* Safari  */
		-moz-border-radius: 3px 12px;     /* Firefox */
	}
	


}
