<!-- Generated template for the CompieComponent component -->

 <ion-footer>
  <ion-toolbar class="bar-footer">
   <ion-buttons  left>
	  	<p style="color:#fff;" class="textoblanco fontnormal ">
        Copyright © 2018. (ver 1.0.0)&nbsp;&nbsp;&nbsp;Todo para su oficina&nbsp;&nbsp;&nbsp;&nbsp;</p>
  </ion-buttons>
  <ion-buttons  right>
        <!--  <img style="background-color:#000000;" width="40" src="http://www.tricenter.es/APP/tricenter/resources/atras.png">-->
      <button class="fontnormalblanca" style="background-color:#000;" (click)="goBack()" royal><ion-icon ios="ios-return-left" md="md-return-left"><p class="fontnormalblanca">Atrás</p></ion-icon></button>
  </ion-buttons>
  </ion-toolbar>
</ion-footer>

